@page
@model Questionairre.Pages.MakeNewModel
@{
    ViewData["Title"] = "Add New";
}

<div class="text-center">
    <h1 class="display-4">Add a Questionnaire</h1>
    <p>On this page, you can either make a new questionnaire from scratch or upload a pre-made one.</p>
</div>


    <div class="row justify-content-center">
        <div class="col-2"> <button onClick="parent.location='https://localhost:44340/NewQuestionnaire'" class="btn btn-primary btn-lg"> Make a Q</button></div>
        <div class="col-2"><button class="btn btn-primary btn-lg">Upload a Q</button></div>
    </div>

